; XG -> SC-55 drum-map overlay for the Synth Engine.
; Non-drum voice mappings intentionally come from 10088.CFG.
;
[SOURCE]
YAMAHA XG,43,0
[DESTINATION]
Roland SC-55,41,0
;
[DRUMS]
;
(Standard Kit-> Standard Set, 127, 0,0 , 10,  0,1,0   ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35,  8,35
Kick 1     ,36,  8,36
Snare      ,38, -5,38
Open HH    ,46,-12,46
Crash      ,49, -5,49
Crash2     ,57, -5,57
;
(Standard 2 -> Standard Set, 127, 0, 1,   3,  0,1, 0  ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35, 10,35
Kick 1     ,36, 10,36
Open HH    ,46,-10,46
Crash      ,49, -5,49
Crash2     ,57, -5,57
;
(Rock  Kit  -> Power Set    , 127, 0,16, 10,  0,1,16  ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35,  7,35
Kick 1     ,36,  7,36
Snare      ,40,-15,40
Open HH    ,46,-12,46
Crash      ,49, -5,49
Crash2     ,57, -5,57
;
(Analog Kit -> TR808909 Set, 127, 0,25, 10,  0,1,25  ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35,  2,35
Kick 1     ,36,  2,36
909        ,40,-12,40
Tom        ,41,-10,41
Tom        ,43,-10,43
Tom        ,45,-10,45
Open HH    ,46,-12,46
Tom        ,47,-10,47
Tom        ,48,-10,48
Crash      ,49,-10,49
Tom        ,50,-10,50
Crash      ,57,-10,57
;
(Room Kit   -> Room Set    , 127, 0, 8, 10,  0,1,8   ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35,  7,35
Kick 1     ,36,  7,36
Open HH    ,46,-12,46
Tom        ,41,-10,41
Tom        ,43,-10,43
Tom        ,45,-10,45
Tom        ,47,-10,47
Tom        ,48,-10,48
Tom        ,50,-10,50
Crash      ,49, -5,49
Crash2     ,57, -5,57
;
(Brush Kit  -> Brush Set   , 127, 0,40, 10,  0,1,40  ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35,  7,35
Kick 1     ,36,  7,36
Open HH    ,46,-12,46
Tom        ,41,-10,41
Tom        ,43,-10,43
Tom        ,45,-10,45
Tom        ,47,-10,47
Tom        ,48,-10,48
Crash      ,49, -5,49
Tom        ,50,-10,50
Crash2     ,57, -5,57
;
(SFX  Set   -> SFX  Set    , 126, 0, 0, 10,  0,1,56  ,0
(SFX2 Set   -> SFX Set     , 126, 0, 1, 10,  0,1,56  ,0
;
(Elec Kit   -> Elec  Set   , 127, 0,24, 10,  0,1,24  ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35,12,35
Kick 1     ,36,12,36
Tom        ,41,-10,41
Tom        ,43,-10,43
Tom        ,45,-10,45
Open HH    ,46,-12,46
Tom        ,47,-10,47
Tom        ,48,-10,48
Crash      ,49,-5,49
Tom        ,50,-10,50
Crash2     ,57,-5,57
;
(Class Kit  -> Orch    Set , 127, 0,48, 10,  0,1,48  ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35,  7,35
Kick 1     ,36,  7,36
Open HH    ,46,-12,46
Crash      ,49, -5,49
Crash2     ,57, -5,57
;
(Jazz Kit   -> Jazz Set    , 127, 0,32, 10,  0,1,32  ,0
;
SrudoMute  ,13,  0,86
SrudoOpen  ,14,  0,87
HiQ        ,15,  0,27
WhipSlap   ,16,  0,28
ScratchPush,17,  0,29
ScratchPull,18,  0,30
FingerSnap ,19,  0,37
ClickNoise ,20,  0,32
MetroClick ,21,  0,33
MetroBell  ,22,  0,34
SeqClickL  ,23,  0,32
SeqClickH  ,24,  0,32
BrushTap   ,25,-20,40
BrushSwirlL,26,-20,40
BrushSlap  ,27,-20,40
BrushSwirlH,28,-20,40
SnareRoll  ,29,  0,38
Castanet   ,30,  0,85
Snare L    ,31,  0,38
Sticks     ,32,  0,31
BassDrumL  ,33,  0,36
OpenRim    ,34,  0,37
Kick 2     ,35  ,7,35
Kick 1     ,36,  7,36
Tom        ,41,-10,41
Tom        ,43,-10,43
Tom        ,45,-10,45
Open HH    ,46,-12,46
Tom        ,47,-10,47
Tom        ,48,-10,48
Crash      ,49, -5,49
Tom        ,50,-10,50
Crash2     ,57, -5,57
;
;(C) 1996-2001 Toshikazu Sugama
;

