; SC-88 -> SC-55 drum-only map for the Synth Engine.
; Melodic bank/program events pass through unless explicitly listed below.
;
[SOURCE]
Roland SC-88,41,1
[DESTINATION]
Roland SC-55,41,0
;
[ADJUST]
;
; SC-88 map (LSB 2) -> SC-55 map (LSB 1)
Timpani     , 0, 2, 47,  0, 0,1,47  ,0
;
[DRUMS]
;
(Standard Set-> Standard Set,   0, 2,0 ,-2,0,1,0   ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36, -5,36
Kick 2  ,35, -5,35
Tom     ,41, -5,41
Tom     ,43, -5,43
Tom     ,45, -5,45
Tom     ,47, -5,47
Tom     ,48, -5,48
Tom     ,50, -5,50
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Claves  ,75, -4,75
Shaker  ,82, -4,82
Jingle  ,83,-10,83
;
(Power Set  -> Power Set   ,   0, 2,16,-2,0,1,16  ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 2  ,35,-5 ,35
Kick 1  ,36,-11,36
Snare   ,38,-25,38
Tom     ,41, -5,41
Tom     ,43, -5,43
Tom     ,45, -5,45
Tom     ,47, -5,47
Tom     ,48, -5,48
Tom     ,50, -5,50
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Claves  ,75, -4,75
Shaker  ,82, -4,82
Jingle  ,83,-10,83
;
(808/909Set -> TR-808 Set  ,   0, 2,25,-2,0,1,25  ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36,-15,36
Kick 2  ,35,-15,35
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Jingle  ,83,-10,83
;
(Room Set   -> Room Set    ,   0, 2, 8,-2,0,1,8   ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36,-5 ,36
Kick 2  ,35,-5 ,35
Tom     ,41, -5,41
Tom     ,43, -5,43
Tom     ,45, -5,45
Tom     ,47, -5,47
Tom     ,48, -5,48
Tom     ,50, -5,50
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Claves  ,75, -4,75
Shaker  ,82, -4,82
Jingle  ,83,-10,83
;
(Brush Set  -> Brush Set   ,   0, 2,40,-2,0,1,40  ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36,-5 ,36
Kick 2  ,35,-5 ,35
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Claves  ,75, -4,75
Shaker  ,82, -4,82
Jingle  ,83,-10,83
;
(SFX  Set   -> SFX  Set    ,   0, 2,56,-2,0,1,56  ,0
;
ScratchPsh2 ,31,  0,  41
ScratchPul2 ,33,  0,  42
Cutting NzU ,34,  0,  48
Cutting NzD ,35,  0,  49
DisCutNz U  ,36,  0,  48
DisCutNz D  ,37,  0,  49
Bass Slide  ,38,-70,  80
Pick Sclape ,38,-70,  49
Kitty       ,85,  0,  73
Bird2       ,86,  0,  78
Growl       ,87,  0,  52
Applause2   ,88,  0,  58
Tele1       ,89,  0,  67
Tele2       ,90,  0,  67
;
(Dance Set  -> Elec.Set    ,   0, 2,26,-2,0,1,24  ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36,-12,36
Kick 2  ,35,-12,35
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Claves  ,75, -4,75
Shaker  ,82, -4,82
;
(Elec Set   -> Elec.Set    ,   0, 2,24,-2,0,1,24  ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36,-12,36
Kick 2  ,35,-12,35
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Jingle  ,83,-10,83
;
(Orch Set   -> Orch Set    ,   0, 2,48,-2,0,1,48  ,0
Jingle  ,83,-10,83
;
(Standard 2 -> Standard Set,   0, 2, 1,-2,0,1, 0  ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36,-5 ,36
Kick 2  ,35,-5 ,35
Tom     ,41, -5,41
Tom     ,43, -5,43
Tom     ,45, -5,45
Tom     ,47, -5,47
Tom     ,48, -5,48
Tom     ,50, -5,50
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Claves  ,75, -4,75
Shaker  ,82, -4,82
Jingle  ,83,-10,83
;
(Jazz Set   -> Jazz Set    ,   0, 2,32,-2,0,1,32  ,0
;
RollSnre,25,  0,38
FingrSnp,26,  0,85
Kick 1  ,36,-5 ,36
Kick 2  ,35,-5 ,35
Tom     ,41, -5,41
Tom     ,43, -5,43
Tom     ,45, -5,45
Tom     ,47, -5,47
Tom     ,48, -5,48
Tom     ,50, -5,50
OPEN HH ,46,-16,46
Crash   ,49,-12,49
Crash   ,57,-12,57
Claves  ,75, -4,75
Shaker  ,82, -4,82
Jingle  ,83,-10,83
;
(Ethnic Set -> Std .Set    ,   0, 2,49,-2,0,1, 0  ,0
;
FingerSnap   ,25 , 0 ,26
Tambourine   ,26 , 0 ,54
Castanets    ,27 , 0 ,85
Crash Cym1   ,28 , 0 ,49
Snare Roll   ,29 , 0, 58
Concert Sna  ,30 , 0 ,40
Concert Cym  ,31 , 0 ,52
Concert BD   ,32 , 0 ,87
Jingle Bell  ,33 , 0 ,83
Bell Tree    ,34 , 0 ,84
Bar Chimes   ,35 , 0 ,84
Wadaiko      ,36 , 0 ,64
Wadaiko Rim  ,37 , 0 ,62
Shime Taiko  ,38 , 0 ,61
Atarigane    ,39 , 0 ,81
Hyoushigi    ,40 , 0 ,75
Ohkawa       ,41 , 0 ,75
High Kotsuzu ,42 , 0 ,68
Low Kotsuzumi,43 , 0 ,70
Ban Gu       ,44 , 0 ,75
Big Gong     ,45 , 0 ,52
Small Gong   ,46 , 0 ,52
Bend  Gong   ,47 , 0 ,52
Thai  Gong   ,48 , 0 ,59
RAMA Cymbal  ,49 , 0 ,53
Gamelan Gong ,50 , 0 ,51
Udo Short    ,51 , 9 ,63
Udo Long     ,52 ,-30,43
Udo Slap     ,53 , 9 ,62
Bendir       ,54 ,-30,41
Req Dum      ,55 , 8 ,64
Req Tik      ,56 ,20 ,54
Tabla Te     ,57 , 9 ,63
Tabla na     ,58 , 9 ,64
Tabla Tun    ,59 , 8 ,63
Tabla Ge     ,60 ,-30,41
Tabla Ge Hi  ,61 ,-30,43
Talking Drum ,62 ,-30,41
Bend TlkDrum ,63 ,-30,41
Claxixi      ,64 , 3 ,82
Djembe       ,65 ,20 ,87
Djembe Rim   ,66 , 5 ,86
Timbales Low ,67 , 0 ,66
Timbales Pail,68 , 0 ,31
Timbales High,69 , 0 ,65
Cowbell      ,70 , 0 ,56
Hi Bongo     ,71 , 2 ,60
Low Bongo    ,72 , 2 ,61
Mute Hi Conga,73 , 0 ,62
Open Hi Conga,74 , 0 ,63
Mute Low Con ,75 , 0 ,64
Slap Conga   ,76 , 0 ,64
Open Low CGA ,77 , 0 ,64
Conga Slide  ,78 , 0 ,64
Mute Pandiero,79 , 0 ,61
Open Pandiero,80 , 0 ,60
Mute Surdo   ,81 , 0 ,86
Open Surdo   ,82 , 0 ,87
Tamborim     ,83 , 0 ,31
High Agogo   ,84 , 0, 67
Low  Agogo   ,85 , 0, 68
Shaker       ,86 , 0, 70
High Whistle ,87 , 0, 71
Low  Whistle ,88 , 0, 72
Mute Cuica   ,89 , 0, 78
Open Cuica   ,90 , 0, 79
Mute Tri     ,91 , 0, 80
Open Tri     ,92 , 0, 81
Short Guiro  ,93 , 0, 73
Long  Guiro  ,94 , 0, 74
Cabasa Up    ,95 , 0 ,69
Cabasa Down  ,96 , 0 ,82
Claves       ,97 , 0 ,75
High Wood B  ,98 , 0 ,76
Low Wood B   ,99 , 0 ,77
;
(Rhythm FX  -> None        ,   0, 2,57,1000,0,1, 0  ,0
(Kick&Snare -> Std .Set    ,   0, 2,50,-2,0,1, 0  ,0
;
Standard1 Kick1 ,40,-5, 36
Standard1 Kick2 ,41,-5, 35
Standard2 Kick1 ,42,-4, 36
Standard2 Kick2 ,43,-5, 35
Kick1           ,44,-5, 36
Kick2           ,45,-5, 35
Soft Kick       ,46,-5, 36
Jazz Kick 1     ,47,-5, 36
Jazz Kick 2     ,48,-5, 35
Concert BD      ,49,-5, 36
Room Kick 1     ,50,-5, 36
Room Kick 2     ,51,-5, 35
Power Kick 1    ,52,-6, 36
Power Kick 2    ,53,-8, 35
Electric Kick 2 ,54,-7, 36
Electric Kick 1 ,55,-6, 35
Electric Kick   ,56,-6, 36
808 Bass drum   ,57,-9, 36
909 Bass drum   ,58,-9, 35
Dance Kick      ,59,-9, 36
Standard 1 Sn1  ,60, 0, 38
Standard 1 Sn2  ,61, 0, 40
Standard 2 Sn1  ,62, 0, 38
Standard 2 Sn2  ,63, 0, 40
Tight Snare     ,64, 0, 38
Concert Snare   ,65, 0, 38
Jazz Snare 1    ,66, 0, 38
Jazz Snare 2    ,67, 0, 40
Room Snare 1    ,68, 0, 38
Room Snare 2    ,69, 0, 40
Power Snare 1   ,70, 0, 38
Power Snare 2   ,71, 0, 40
Gated Snare     ,72, 0, 38
Dance Snare 1   ,73, 0, 40
Dance Snare 2   ,74, 0, 38
Disco Snare     ,75, 0, 40
Electric Sn 2   ,76, 0, 38
House Snare     ,77, 0, 38
Electric Sn 1   ,78, 0, 38
Electric Sn 3   ,79, 0, 40
808 Snare  1    ,80, 0, 38
808 Snare  2    ,81, 0, 38
909 Snare  1    ,82, 0, 40
909 Snare  2    ,83, 0, 40
Bursh Tap 1     ,84, 0, 38
Bursh Tap 2     ,85, 0, 38
Bursh Slap 1    ,86, 0, 38
Bursh Slap 2    ,87, 0, 38
Bursh Slap 3    ,88, 0, 38
Bursh Swirl 1   ,89, 0, 38
Bursh Swirl 2   ,90, 0, 38
Bursh Long Sw   ,91, 0, 38
;
(User  Set  -> Std   Set   ,   0, 2,64, -4,  0,1, 0  ,0
(User  Set  -> Std   Set   ,   0, 2,65, -4,  0,1, 0  ,0
;
;SC-55Map
;
(Std   Set  -> Std   Set   ,   0, 1, 0,  0,  0,1, 0  ,0
(Room  Set  -> Room  Set   ,   0, 1, 8,  0,  0,1, 8  ,0
(Power Set  -> Power Set   ,   0, 1,16,  0,  0,1,16  ,0
(TR808 Set  -> TR808 Set   ,   0, 1,25,  0,  0,1,25  ,0
(Jazz  Set  -> Std   Set   ,   0, 1,32,  0,  0,1,32  ,0
(Brush Set  -> Brush Set   ,   0, 1,40,  0,  0,1,40  ,0
(Orch  Set  -> Orch  Set   ,   0, 1,48,  0,  0,1,48  ,0
(SFX   Set  -> SFX   Set   ,   0, 1,56,  0,  0,1,56  ,0
(C/M   Set  -> C/M   Set   ,   0, 1,127, 0,  0,1,127, 0
;
;(C) 1996-2001 Toshikazu Sugama.
;
