@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=M+PLUS+Rounded+1c&family=Zen+Kaku+Gothic+Antique&display=swap');
.zen-kaku-gothic-antique-regular {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'ヒラギノ丸ゴ Pro W3', 'Hiragino Maru Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック',"Zen Kaku Gothic Antique";
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1f2d3d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#root {
  min-height: 100vh;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.92), rgba(240, 240, 240, 0.9));
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgba(0, 120, 255, 0.55);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
